{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": [
        "es2015"
      ],
      "plugins": [
        "istanbul"
      ]
    },
    "prod": {
      "presets": [
        "es2015"
      ]
    }
  }
}
